.color-main {
    color: #00b8a9 !important;
}
.color-accent {
    color: #f6416c !important;
}
.color-pink {
    color: #ef93b6 !important;
}
.bold {
    font-weight: bold !important;
}
.bg-yellow{
    background-color: #f8f3d4 !important;
}