body {
  background-color: #f8f3d4;
}

.profile {
  max-width: 500px;
  margin: auto;
}

.profile__image {
  max-width: 100%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

